/* ejemplo
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    padding-left: 2rem;
    padding-right: 2rem;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li:last-child{
    margin-right:0;
}
header nav ul li a{
    color: #808080;
    margin-right: 1rem;
    text-transform: lowercase;
    text-decoration: none;
}
header nav ul li a#activo{
    color: #333333;
    font-weight: bold;
}
header nav ul li a:hover{
    text-decoration: underline; subrayar :cada ves que nos posicionamos en los elemento del menu nos muestra una linea debajo del texto
}
*/


